@{
    ViewBag.Title = "Home Page";
}

<h2 style="text-align:center;font-weight:bold">Top games trailer</h2>

<div class="container" style="width:100%;">
    <div class="row" style="height:160px; padding-top:20px;padding-left:6.5%">
      <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link1 frameborder="0" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link2 frameborder="0" allowfullscreen></iframe>
       <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link3 frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row"  style="height:160px; padding-top:40px;padding-left:6.5%">
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link4 frameborder="0" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link5 frameborder="0" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link6 frameborder="0" allowfullscreen></iframe></div>
    <div class="row" style="height:160px; padding-top:60px;padding-left:6.5%">
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link7 frameborder="0" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link8 frameborder="0" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" style="padding-left:20px;" src=@ViewBag.Link9 frameborder="0" allowfullscreen></iframe>
    </div>
</div>



