
@{
    ViewBag.Title = "Manage User To Roles";
}

<h2>ManageUserToRoles</h2>
@using (Html.BeginForm("ManageUserToRolesConfirm", "Roles", FormMethod.Post))
{

   <div class="form-horizontal">
       <div class="form-group">
           @Html.Label("UserName", new { @class="control-lable col-md-2"})
           <div class="co-md-2">
               @Html.TextBox("UserName", "", new { @class="form-control"})
           </div>
       </div>
       <div class="form-group">
           @Html.Label("RoleName", new { @class="Control-lable col-md-2"})
           <div class="col-mod-2">
               @Html.DropDownList("RoleName",(IEnumerable<SelectListItem>)
               ViewBag.Roles,new { @class = "form-control" })
           </div>
       </div>
       <div class="form-group">
           <div class="col-md-2 col-md-offset-2">
               <button type="submit" class="btn-warning">Confirm</button>

           </div>
       </div>
   </div>
}